<div class="container">
  <div class="row">
    <div class="col-sm-12"><h1>todos!</h1></div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="What needs to be done"
          aria-label="todoLabel"
          aria-describedby="basic-addon1"
        />
      </div>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-primary">Add</button>
    </div>
  </div>
</div>
